
<main class="container bg-light shadow p-4">

  <h1 class="text-center mt-0 mb-4">Typing Challenge</h1>

  <p class="p-3 shadow rounded bg-white">
    Instructions: type in the random sentence you see below. All correct letters
    will be marked green, incorrect ones will be marked red.
  </p>

  <!--  <h5> {{ randomText }} </h5> -->

  <figure class="mt-5 fs-4">
    <!-- <span *ngFor="let char of randomText.split(''); let i = index;" class="{{ randomText[i] === userText[i] ? 'correct' : 'wrong' }}">{{ char }}</span> -->

    <span
      *ngFor="let char of randomText.split(''); let i = index"
      [class]="getCssClassByComparison(char, userText[i])"
      >{{ char }}</span>
  </figure>

  <input
    id="user-input"
    class="w-100"
    type="text"
    tabindex="0"
    (keydown)="onKeyDown($event)"
    (input)="onInput($event.target!)"
  />

  <h2 class="mt-3" *ngIf="textMatches()">
    Success! Press Enter to continue...
  </h2>

  <footer class="fw-normal fst-italic text-black-50 text-end mt-5">
    Written in Angular. Version running is {{ angularVersion }}
  </footer>

</main>
